body {
    font-family: cursive;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(170, 216, 253);
}

h1 {
    font-size: 5rem;
}
p {
    font-size: 3rem;
}

.choices {
    margin-bottom: 30px;
}

.choices button{
    font-size: 8rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: antiquewhite;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(34, 78%, 85%);
}

#playerDisplay, #computerDisplay {
    font-size: 3rem;
}

#resultDisplay {
    font-size: 3rem;
    margin: 30px 0;
}

.scoreDisplay {
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: rgb(76, 222, 76);
}
.redText, #computerScoreDisplay{
    color: rgb(255, 0, 0);
}