body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

.choices {
    margin-bottom: 30px;
}

.choices button{
    font-size: 8rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: hsl(0, 68%, 45%);
    color: antiquewhite;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(0, 68%, 35%);
}

#playerDisplay, #computerDisplay {
    font-size: 2.5rem;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0;
}